<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add New Torrent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add New Torrent</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 10px">
    <ion-button color="primary" size="small" (click)="add_new_line()">Add</ion-button>
    <ion-button color="danger" size="small" (click)="torrents = []">Clear</ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let torrent of torrents">
      <ion-label>
        <ion-input label="Magnet Url" labelPlacement="stacked" placeholder="Paste Magnet url here" [(ngModel)]="torrent.path" class="onest-font text-size-13"></ion-input>
        <ion-select label="Type" label-placement="stacked" interface="popover" placeholder="select torrent type" [(ngModel)]="torrent.type" class="onest-font text-size-13">
          <ion-select-option value="movie">Movie</ion-select-option>
          <ion-select-option value="tv">TV Show</ion-select-option>
        </ion-select>
      </ion-label>
      <ion-button color="danger" size="small" (click)="removeLineItem(torrent)" slot="end">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="torrents.length > 0" (click)="process()">
    <ion-fab-button>Start</ion-fab-button>
  </ion-fab>
</ion-content>
