<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Torrents
    </ion-title>
    <ion-button size="small" color="danger" slot="end" [href]="admin_center" target="_blank" style="margin-right: 10px">Admin-Center</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Torrents</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-item detail="false" *ngFor="let torrent of torrents; trackBy: torrent_trackBy" (click)="torrentClick(torrent)">
      <ion-label>
        <ion-note color="medium" class="ion-text-wrap onest-font torrent-item">
          {{torrent.name}}
        </ion-note>
        <ion-row>
          <ion-col>
            <div style="font-weight: bold; color: black; font-size: 12px">
              {{torrent.save_path}}
            </div>
          </ion-col>
          <ion-col>
            <div style="font-weight: bold; color: black; font-size: 12px; text-align: right" *ngIf="!torrent.is_finished">
              {{download_rate(torrent.download_payload_rate)}}
            </div>
          </ion-col>
        </ion-row>
        <progress-bar [value]="torrent.progress" *ngIf="!torrent.is_finished" [height]="10" [hideLabel]="true"></progress-bar>
      </ion-label>
      <ion-icon name="play-outline" slot="end" *ngIf="!torrent.is_finished && torrent.paused"></ion-icon>
      <ion-icon name="checkmark-circle-outline" slot="end" color="success" *ngIf="torrent.is_finished"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>
